.done-true{
    text-decoration: line-through;
    color: grey;
}

.flat, .flat *{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    outline: none;

}

.reset-border{
    border: 0px solid #e3e3e3 !important;
}

.reset-padding {
	padding: 0px;
}


.reset-margin {
	margin: 0px;
}

.reset-bg{
	background-color: transparent !important;
}

.center{
	text-align: center !important;
}

.scorebox{
	font-size: 45px !important;
	padding: 15px !important;
}

.oversbox, .runratebox{
	padding: 5px !important;
}

.current-batsmen{
	padding: 6px;
	min-height: 20px;
	margin-bottom: 3px !important;
}

.recent-overs-data, .recent-overs{
	margin-top: 5px;
	font-size: 10px;
	padding: 5px
}