<style>
            .team0-primary{
                color: #{{teams[0].team.primaryColor}} !important;
            }

            .team0-secondary{
                color: #{{teams[0].team.secondaryColor}}  !important;  
            }

            .team1-primary{
                color: #{{teams[1].team.primaryColor}} !important;
            }

            .team1-secondary{
                color: #{{teams[1].team.secondaryColor}} !important;  
            }

            .team0-primary-bg{
                background-color: #{{teams[0].team.primaryColor}} !important;
            }

            .team0-secondary-bg{
                background-color: #{{teams[0].team.secondaryColor}} !important;  
            }

            .team1-primary-bg{
                background-color: #{{teams[1].team.primaryColor}} !important;
            }

            .team1-secondary-bg{
                background-color: #{{teams[1].team.secondaryColor}} !important;  
            }
        </style>